body{

font-family:Arial;
margin:0;
background:#f4f4f4;

}

header{

background:#111;
color:white;
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;

}

nav a{

color:white;
margin-left:20px;
text-decoration:none;
font-weight:bold;

}

.banner{

height:100vh;
background-image:url("banner,jpg");
background-size:cover;
display:flex;
align-items:center;
justify-content:center;  

}

.galeria{

text-align:center;
padding:50px;

}

.container{

display:flex;
justify-content:center;
gap:25px;
flex-wrap:wrap;

}

.card{

background:white;
width:250px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.2);
padding:10px;
transition:0.3s;

}

.card img{

width:100%;
height:180px;
object-fit:cover;
border-radius:8px;

}

.servicos{

background:#eee;
text-align:center;
padding:50px;

}

.card-servico{

background:white;
width:200px;
padding:20px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.2);

}

.agendamento{

text-align:center;
padding:50px;

}

.botao{

background:#25D366;
color:white;
padding:15px 30px;
text-decoration:none;
border-radius:8px;
font-size:18px;

}

.botao:hover{

background:#1ebe5d;

}

footer{

background:#111;
color:white;
text-align:center;
padding:20px;

}

.banner h2{

font-family:'Bebas Neue', sans-serif;
font-size:60px;
letter-spacing:4px;
text-transform:uppercase;
text-shadow:3px 3px 10px black;

}

.card:hover{

transform:scale(1.05);

}


.whatsapp{

position:fixed;
bottom:20px;
right:20px;
background:#25D366;
color:white;
font-size:30px;
padding:15px;
border-radius:50%;
text-decoration:none;
box-shadow:0 5px 15px rgba(0,0,0,0.3);


}

